img{
    width: 200px;
    height: 200px;
    margin-left: 75px;
}


div {
    font-size: 2rem;
}


html {
    background-image:   url("../images/triviaImages.jpg");
}

#start{
   /* margin-top: 15rem;
    margin-left: 25rem; */
    margin: auto;
    padding-left: 5rem;
    background: transparent;
}

.jumbotron {
    margin: auto;
    width:  85%;
    height: 50%;
    float:  left;
}